.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, #54ff59, #76abfa);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

table{
  border: 1px solid black;
  width: fit-content;
  background-color: #accaf5;
}
th{
  font-weight:bold;
  font-size: 25px;
  height: 50px;
  border: 1px solid black;
  padding: 18px;
}
td{
  font-weight:bold;
  font-size: 15px;
  height: 30px;
  border: 1px solid black;
  padding: 10px;
}
thead{
  color: #070707;

}
body{
    background-color: #c8e4ca;
}

.navbar {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #10eb22;
}

  h1{
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[id="add-teacher-btn"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[id="add-teacher-btn"]:hover {
    background-color: #3e8e41;
  }

  button[id="update-teacher-btn"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[id="update-teacher-btn"]:hover {
    background-color: #3e8e41;
  }

  button[id="delete-teacher-btn"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[id="delete-teacher-btn"]:hover {
    background-color: #3e8e41;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: #F0F4FF;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background: #161a2d;
    padding: 25px 20px;
    transition: all 0.4s ease;
  }
  
  .sidebar:hover {
    width: 260px;
  }
  
  .sidebar .sidebar-header {
    display: flex;
    align-items: center;
  }
  
  .sidebar .sidebar-header h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 62px;
  }
  
  .sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    margin: 10px 0;
    position: relative;
  }
  
  .sidebar-links h4 span {
    opacity: 0;
  }
  
  .sidebar:hover .sidebar-links h4 span {
    opacity: 1;
  }
  
  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #4f52ba;
    transform-origin: right;
    transition-delay: 0.2s;
  }
  
  .sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }
  
  .sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .sidebar-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .sidebar-links li a:hover {
    color: #161a2d;
    background: #fff;
    border-radius: 4px;
  }
  
  .user-account {
    margin-top: auto;
    padding: 10px 8px;
    margin-left: -10px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    color: #161a2d;
    margin-left: -6px;
  }
  
  .user-profile img {
    width: 42px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .user-profile h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .user-profile span {
    font-size: 0.775rem;
    font-weight: 600;
  }
  
  .user-detail {
    margin-left: 50px;
    white-space: nowrap;
  }
  
  .sidebar:hover .user-account {
    background: #fff;
    border-radius: 4px;
  }
