body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}
.hero {
	background-color:#a75009;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}

.testimonials {
	background-color: #241587;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}
.testimonials ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.testimonials li {
	margin-bottom: 20px;
}
.testimonials button{
	background-color: #fff;
	color: #000000;
	padding: 10px 20px;
	font-size: large;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.r1, .r2 {
	text-align: center;
	color: #fff;
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
