.login-container {
	width: 350px;
	margin: 50px auto;
	padding: 20px;
	background-color:#fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	animation: fadeIn 1s;
}

body{
	background-color: #939b9c;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-bottom: 10px;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(to bottom, #fff, #f5f5f5);
}

button{
	width: 100%;
	padding: 10px;
	background-color:#150c78;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	animation: pulse 2s infinite;
}

button[type="submit"]:hover {
	background-color:#105f0a;
}

p {
	text-align: center;
	margin-top: 20px;
	color: #000000;
	font-size: 18px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
	text-decoration: none;
	color: #1bff22;
	font-size: 18px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
	color: #58ff5e;
}

/* Add some animations to make it more attractive */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* Add some gradients to make it more attractive */

input[type="text"], input[type="password"] {
	background-image: linear-gradient(to bottom, #fdfcfc, #f5f5f5);
}

/* Add some box shadows to make it more attractive */
.login-container{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"]{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="password"] {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add some colorful icons */
label:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 24px;
	color: #333;
}

.username:before {
	content: "\f007";
}

.password:before {
	content: "\f023";
}
